@tailwind base;
@tailwind components;
@tailwind utilities;
/* Global reset for overflow and box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif; /* Choose appropriate font family */
}
